/* Colors */
$primary-color: #901C1C;
$secondary-color: #D3573C;
$tertiary-color: #DB8876;
$quaternary-color: #FAFAFA;
$quaternary-color-light: #FFFFFF;
$quinary-color: #525252;
$sixth-color: #000000;

/* Unicode */
$unicode-close: '&#xf00d;';
$unicode-chevron-down: '&#xf078;';
$unicode-chevron-up: '&#xf077;';
$unicode-like-full: '&#xf004;';
$unicode-like-empty: '&#xf08a;';
