/* Colors */
$primary-color: #901C1C;
$secondary-color: #D3573C;
$tertiary-color: #DB8876;
$quaternary-color: #FAFAFA;
$quaternary-color-light: #FFFFFF;
$quinary-color: #525252;
$sixth-color: #000000;