@import "variables";

#contact {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  & .modal {
    background-color: $tertiary-color;
    border-radius: 5px;

    &_title, &_subtitle {
      font-size: 64px;
      line-height: 64px;
      font-weight: 400;
      color: $sixth-color;
      margin-left: 35px;
      margin-top: 35px;
      margin-bottom: 0;
      text-align: left;
      white-space: nowrap;
    }

    &_subtitle {
      margin-top: 0;
    }
  }

  .close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 42px;
    padding: 15px;
    background-color: transparent;
    color: $quaternary-color-light;
    border: none;
    border-radius: 5px;
    &:hover {
      background-color: $quaternary-color-light;
      color: $sixth-color;
      border-radius: 5px;
    }
  }

  .form_contact {
    &_header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      font-size: unset;
    }
    
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    padding: 0 35px 38px 35px;
  
    label {
      color: #312E2E;
      font-size: 36px;
    }
  
    div {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: self-start;
    }
  
    input {
      width: 600px;
      height: 68px;
      border: none;
      font-size: 36px;
      border-radius: 5px;
    }

    textarea {
      width: 100%;
      height: 170px;
    }

    .contact_button {
      margin-top: 20px;
    }
  }
}



    
  
  