@import 'variables';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top : 43px;
}

h1 {
  color: $primary-color;
}

#logo {
  width: 200px;
  &:hover {
    opacity: .7;
  }
}