@import 'variables';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top : 43px;
  margin-left: 100px;
  margin-right: 100px;
}

h1 {
  color: $primary-color;
  margin-right: 100px;
}

#logo {
  width: 200px;
}