@import 'variables';



#contact_modal {
  display: none;
  background-color: $tertiary-color;
}

.photographer {
  &_banner {
    display: flex;
    background-color: $quaternary-color;
    justify-content: space-between;
    align-items: center;
    height: 313px;
    margin: 40px 100px 101px 100px;
  }

  &_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 300px;
    margin: 0 0 0 50px;
  }
}

#contact_me:hover {
  background-color: $tertiary-color;
  color: $sixth-color
}

#sort {

  & p {
    position: absolute;
    top: 333px;
    padding-right: 20px;
  }
  &_button {
    position: absolute;
    top: 322px;
    display: flex;
    margin-left: 100px;
    background-color: $primary-color;
    border-radius: 5px;
    border: none;
    & .options {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 0;
      & i {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        color: $quaternary-color-light;
        &:hover {
          color: $sixth-color;
        }
      }
      & .option {
        display: flex;
        text-align: left;
        justify-content: flex-start;
        align-items: center;
        vertical-align: center;
        color: $quaternary-color-light;
        font-size: 18px;
        font-weight: 700;
        list-style-type: none;
        width: 170px;
        height: 69px;
        padding-left: 20px;
        &:hover {
          background-color: $tertiary-color;
          color: $sixth-color
        }
      }

      & hr {
        width: 150px;
        color: $quaternary-color-light;
      }

    }
  }
      
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  row-gap: 20px;
  column-gap: 95px;
  margin: 100px;
}

.media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // object-position: center;
  border-radius: 5px;
  &_card {
    display: block;
    & figure {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 300px;
      margin: 0;
      overflow: hidden;
    }
  }

  &_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
  }
  
  &_title, &_likes {
    color: $primary-color;
    font-size: 24px;
    line-height: 31.25px;
    margin: 0;
  }

  &_likes i:hover {
    cursor: pointer;
    color: $secondary-color;
  }
}

#contact_me {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: $primary-color;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;

  header {
    justify-content: space-between;
    width: 100%;

    h2 {
      font-size: 64px;
      font-weight: normal;
      text-align: center;
    }
  }

  img {
    cursor: pointer;
  }
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;

  label {
    color: #312E2E;
    font-size: 36px;
  }

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
  }

  input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
  }

  .nav-lightbox-btn {
    height: 48px;
  }

  #lightbox .modal {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
  }

  #lightbox-container .media {
    height: 900px;
    width: 1050px;
    object-fit: cover;
  }

  #go-to-previous-media, #go-to-next-media {
    padding: 0 24px;
  }

}
  
.footnote {
  position: sticky;
  bottom: 0;
  left: calc(100% - 376px - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $tertiary-color;
  font-weight: 500;
  width: 376px;
  height: 68px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 31px;
  padding-right: 34px;
}