@import 'variables';

.photographer {
  &sGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
  }
  &_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: unset;
  }
  &_portrait {
    width: 200px;
    height: 200px;
    &_wrapper {
      position: relative;
      height: 200px;
      width: 200px;
    }
    
    &_background {
      background-size: 200px;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    
    &_blurFilter {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle, rgba(255, 255, 255, 0) 0.1%, rgba(255, 255, 255, 0.97) 65%, rgba(255, 255, 255, 1) 100%);
    }
    
    &_overlay {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;

      // transform: translate(-50%, 0);
      height: 185px;
      width: 185px;
      border-radius: 50%;
      overflow: hidden;
      object-position:center;
      
    }
  }
  
  &_description {
    text-align: center;
  }

  &_name {
    color: $secondary-color;
    font-size: 36px;
    line-height: 83.33px;
    margin: 0;
  }
  
  &_location {
    color: $primary-color;
    font-size: 24px;
    line-height: 31.25px;
    margin-top: 0;
    margin-bottom: 19px;
  }

  &_tagline {
    color: $quinary-color;
    font-size: 18px;
    line-height: 23.44px;
    margin: 0;
  }

  &_card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    height: 300px;
    padding-top: 71px;
    padding-bottom: 42px;
  }

  &_banner {
    display: flex;
    background-color: $quaternary-color;
    justify-content: space-between;
    align-items: center;
    height: 313px;
    margin: 40px 100px 20px 100px;
    padding: 50px 57px;
  }
  

}