@import "variables";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  box-sizing: border-box;
}
  
body {
  position: relative;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, label, button, input,
  textarea, select, option, hr, figure, figcaption, blockquote, pre,
  code, table, td, th, tr, div, span, a, img, video, svg, path, i, b,
   strong, em, small, time, mark, section, article, aside, header, nav,
   footer, main, address, video, audio, canvas, details, summary, input {
    margin: 0;
    padding: 0;
  }
}

.cta {
  cursor: pointer;
  text-decoration: none;
  color: $quaternary-color-light;
  background-color: $primary-color;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  &:hover {
    background-color: $secondary-color;
  }
}