@import 'variables';

#sort {
  position: relative;
  & p {
    padding-right: 20px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
  }

  & #sorts_wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 100px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    background-color: #901C1C;
    border-radius: 5px;

    & .sortType {
      cursor: pointer;
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      background-color: $primary-color;
      color: $quaternary-color-light;
      font-size: 18px;
      font-weight: 700;
      width: 170px;
      list-style-type: none;
      padding-left: 14px;
      padding-top: 14px;
      padding-bottom: 14px;
      overflow: hidden;
      border: none;
      &.active {
        display: block;
      }

      &:first-of-type {

        span {
          display: inline-block;
          padding-left: 20px;
        }
        &:hover {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }

      &:last-of-type:hover {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &:hover, &:focus {
        background-color: $tertiary-color;
      }
    }

    & hr {
      // display: inline-block;
      display: none;
      width: 150px;
      margin: 0;
      margin-left: 10px;
      color: $quaternary-color-light;
    }

  }
  #expandCollapse {
    position: absolute;
    cursor: pointer;
    top: 13px;
    font-size: 16px;
    right: 10px;
    border: none;
    background-color: transparent;
    color: $quaternary-color-light;
    padding: 10px;
    border-radius: 50%;
  }
}      
