/* Colors */
/* Unicode */
/* Colors */
/* Unicode */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
  height: 100vh;
}

.cta {
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
}
.cta:hover {
  background-color: #D3573C;
}

/* Colors */
/* Unicode */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 43px;
}

h1 {
  color: #901C1C;
}

#logo {
  width: 200px;
}
#logo:hover {
  opacity: 0.7;
}

/* Colors */
/* Unicode */
.photographersGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15%;
  margin-top: 100px;
  margin-bottom: 120px;
}
.photographer_link {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: unset;
}
.photographer_portrait {
  position: relative;
  width: 160em;
  margin: 0;
  padding: 0;
}
.photographer_portrait_wrapper {
  position: relative;
  font-size: 2px;
  margin: 0;
}
.photographer_portrait_background {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 160em;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}
.photographer_portrait_background_wrapper {
  position: relative;
  width: 100%;
  height: 110em;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.photographer_portrait_blurFilter {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: radial-gradient(circle closest-corner, transparent 0.1%, white 74.5%);
  margin: 0;
  padding: 0;
}
.photographer_overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-position: center;
     object-position: center;
}
.photographer_description {
  text-align: center;
}
.photographer_name {
  color: #D3573C;
  font-size: 36px;
  line-height: 47px;
  margin: 0;
}
.photographer_name:hover {
  text-decoration: underline;
}
.photographer_location {
  color: #901C1C;
  font-size: 13px;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 3px;
}
.photographer_tagline {
  color: #000000;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 3px;
}
.photographer_price {
  color: #525252;
  font-size: 9px;
  line-height: 12px;
  margin-bottom: 80px;
}
.photographer_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 300px;
  padding-top: 71px;
  padding-bottom: 42px;
}
.photographer_banner {
  display: flex;
  background-color: #FAFAFA;
  justify-content: space-between;
  align-items: center;
  height: 313px;
  margin: 40px 0 20px 0;
  padding: 50px 57px;
}
.photographer_banner .photographer_name {
  color: #D3573C;
  font-size: 64px;
  line-height: 83px;
  font-weight: 400;
  margin: 0;
}
.photographer_banner .photographer_name:hover {
  text-decoration: underline;
}
.photographer_banner .photographer_location {
  color: #901C1C;
  font-size: 24px;
  line-height: 31px;
  margin-top: 0;
  margin-bottom: 19px;
}
.photographer_banner .photographer_tagline {
  color: #525252;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
}
.photographer_banner .photographer_portrait_blurFilter {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: radial-gradient(circle closest-corner, transparent 0.1%, #FAFAFA 74.5%);
  margin: 0;
  padding: 0;
}

.mask {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100em;
  max-height: 100em;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Colors */
/* Unicode */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Colors */
/* Unicode */
#contact {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .modal {
  background-color: #DB8876;
  border-radius: 5px;
}
#contact .modal_title, #contact .modal_subtitle {
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  color: #000000;
  margin-left: 35px;
  margin-top: 35px;
  margin-bottom: 0;
  text-align: left;
  white-space: nowrap;
}
#contact .modal_subtitle {
  margin-top: 0;
}
#contact .close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 42px;
  padding: 15px;
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}
#contact .close-modal:hover {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 5px;
}
#contact .form_contact {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  padding: 0 35px 38px 35px;
}
#contact .form_contact_header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: unset;
}
#contact .form_contact label {
  color: #312E2E;
  font-size: 36px;
}
#contact .form_contact div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}
#contact .form_contact input {
  width: 600px;
  height: 68px;
  border: none;
  font-size: 36px;
  border-radius: 5px;
}
#contact .form_contact textarea {
  width: 100%;
  height: 170px;
}
#contact .form_contact .contact_button {
  margin-top: 20px;
}

/* Colors */
/* Unicode */
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#lightbox .modal {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding-top: 10px;
}
#lightbox .modal figure {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
#lightbox .modal figure .media_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
}
#lightbox .modal figure .media {
  cursor: default;
}
#lightbox .modal figure .media_title {
  margin-top: 15px;
  margin-bottom: 15px;
}
#lightbox .modal figure figcaption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #901C1C;
  height: 10%;
  font-size: 24px;
}

.nav-lightbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  cursor: pointer;
}
.nav-lightbox .close-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  font-size: 42px;
  background-color: #FFFFFF;
  color: #901C1C;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  top: 10px;
  right: 50%;
  transform: translateX(50%);
  z-index: 2;
}
.nav-lightbox .close-modal:hover {
  background-color: #901C1C;
  color: #FFFFFF;
}
.nav-lightbox .navBtn {
  width: 80%;
  background-color: #FFFFFF;
  color: #901C1C;
  border: none;
  font-size: 42px;
  border-radius: 5px;
}
.nav-lightbox .navBtn:hover {
  background-color: #901C1C;
  color: #FFFFFF;
}

/* Colors */
/* Unicode */
#sort {
  position: relative;
}
#sort p {
  padding-right: 20px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 700;
}
#sort #sorts_wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 100px;
  display: block;
  overflow: hidden;
  cursor: pointer;
  background-color: #901C1C;
  border-radius: 5px;
}
#sort #sorts_wrapper .sortType {
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  background-color: #901C1C;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  width: 170px;
  list-style-type: none;
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  overflow: hidden;
  border: none;
}
#sort #sorts_wrapper .sortType.active {
  display: block;
}
#sort #sorts_wrapper .sortType .option_name {
  padding-right: 20px;
}
#sort #sorts_wrapper .sortType .fa.fa-chevron-up {
  display: none;
}
#sort #sorts_wrapper .sortType:first-of-type .fa.fa-chevron-up {
  display: inline-block;
}
#sort #sorts_wrapper .sortType:first-of-type:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#sort #sorts_wrapper .sortType:last-of-type:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#sort #sorts_wrapper .sortType:hover, #sort #sorts_wrapper .sortType:focus {
  background-color: #DB8876;
}
#sort #sorts_wrapper hr {
  display: none;
  width: 150px;
  margin: 0;
  margin-left: 10px;
  color: #FFFFFF;
}
#sort #expandCollapse {
  position: absolute;
  cursor: pointer;
  top: 13px;
  font-size: 16px;
  right: 10px;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 50%;
}

/* Colors */
/* Unicode */
#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  row-gap: 20px;
  -moz-column-gap: 95px;
       column-gap: 95px;
  margin: 50px 0;
}

.media {
  cursor: pointer;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  color: transparent;
  border: none;
}
.media_card {
  display: block;
}
.media_card figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  margin: 0;
  overflow: hidden;
}
.media_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}
.media_title, .media_likes {
  color: #901C1C;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 31.25px;
}

.likeButton {
  color: #901C1C;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 31.25px;
  cursor: pointer;
}
.likeButton i {
  width: 18px;
  height: 18px;
  font-size: 18px;
}

/* Colors */
/* Unicode */
#footNote {
  position: sticky;
  bottom: 0;
  left: calc(100% - 376px - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DB8876;
  font-size: 24px;
  font-weight: 500;
  width: 376px;
  height: 68px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 31px;
  padding-right: 34px;
}